[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
requests = "*"
flask-apscheduler = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-restful = "*"


[dev-packages]

